*~
*.bak
Experiencia Internacional/Documental Hacking Democracy/Hacking Democracy (2006) Subtitulado.mkv
Presentaciones sobre Voto Electronico/Panel sobre Voto Electronico - EkoParty (2015)/Panel sobre Voto Electronico - ekoparty11 (2015).mkv
Presentaciones sobre Voto Electronico/Podemos votar con computadoras? - FLISoL 12 (2016)/Podemos votar con computadoras?.mkv
Presentaciones sobre Voto Electronico/Camara de Diputados (2016)/Plenario de comisiones sobre reforma electoral - Alfredo Ortega.mp4
Presentaciones sobre Voto Electronico/Camara de Diputados (2016)/Plenario de comisiones sobre reforma electoral - Ivan Arce.mp4
Presentaciones sobre Voto Electronico/Camara de Diputados (2016)/Plenario de comisiones sobre reforma electoral - Javier Smaldone.mp4
Presentaciones sobre Voto Electronico/Camara de Diputados (2016)/Plenario de comisiones sobre reforma electoral - Daniel Penazzi.mp4
Presentaciones sobre Voto Electronico/Camara de Diputados (2016)/Plenario de comisiones sobre reforma electoral - Delia Ferreira Rubio.mp4
Presentaciones sobre Voto Electronico/Camara de Diputados (2016)/Plenario de comisiones sobre reforma electoral - Enrique Chaparro y Beatriz Busaniche.mp4
Presentaciones sobre Voto Electronico/Camara de Diputados (2016)/Plenario de comisiones sobre reforma electoral - Leonardo Martinez.mp4
Presentaciones sobre Voto Electronico/VotAr Una Mala Eleccion - EkoParty 11 (2015)/Vot.Ar - una mala eleccion en Ekoparty 11 (resumen tecnico).mp4
Presentaciones sobre Voto Electronico/VotAr Una Mala Eleccion - EkoParty 11 (2015)/Vot.Ar - una mala eleccion - Ivan Ariel Barrera Oro & Javier Smaldone (completo).mp4
Presentaciones sobre Voto Electronico/Foro Abierto Mitos y Verdades sobre el Voto Electronico/Foro Abierto (completo).mp4
